<html>
<head>
    
    <title>Book Details</title>
    {% load static %}
        
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div class="container">
        <marquee direction="left"><h1>ADD BOOK DETAILS</h1></marquee>
       
        <a href="#" class="button" id="button"><i class="fa-solid fa-book"></i>  ADD BOOK</a>  
    </div>
    <div class="popup">
        <div class="popup-content">
            <form  id="bookForm" method="POST">
                <img src="{% static 'close.png' %}" class="close">
                <img src="{% static 'book.png' %}">
                {% csrf_token %}
                {{ form }}
                <button type="button" id="button1" class="button1" onclick="openPopup()">SUBMIT</button>
            </form>
            <div class="popupopen" id="popupopen" >
                <img src="{% static 'tick.jpg' %}" class="tick ">
                <button class="closed" onclick=" reset()">OK</button>
                <h4>Submitted</h4>
                <p>Book has been updated successfully...</p>
            </div>  
        </div>
    </div>

    
       <div class="search-icon" >
        <i class="fa-solid fa-magnifying-glass" style="color: #4b86ec;"></i>    </div>
       <div class="search-bar">
        <label for="searchtitle">Search by Book Title:</label>
        <input type="text" id="searchtitle" class="form-control form-control-sm col-2" name="searchtitle" placeholder="Enter book name...">
        <button type="button" id="searchButton" >Search</button>
    </div>
<div class="sort">
        <label>Sort by:</label>
        <button type="button" id="ascButton" class="btn btn-outline-light sortButton" value="asc">A->Z</button>
        <button type="button" id="descButton" class="btn btn-outline-light sortButton" value="desc">Z->A</button>
    </div>
    
    <table class="table table-Light table-striped">
        <thead >
            <tr>
                <th>Book ID</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody id="tablebody">
            {% for book in books %}
                <tr>
                    <td>{{ book.1 }}</td>
                    <td>{{ book.2}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<div class="pagination pagination justify-content-end">
   
        {% if pagination.hasPrevious %}
            <a href="?page={{ pagination.page_number_int|add:-1 }}">previous</a>
        {% endif %}
        <span class="current">{{ pagination.page_number_int }}  {{ pagination.total_pages }}</span>
        {% if pagination.hasNext %}
            <a href="?page={{ pagination.page_number_int|add:1 }}">next</a>
        {% endif %}
	
    </span>
</div>

    <script>

$('#button1').click(function(event) {
    event.preventDefault();
    var form = $('#bookForm')[0];
    var formData = new FormData(form);
   
 
    $.ajax({
        type: 'POST',
        url: '/add_book',
        data: formData,
        processData: false,
        contentType: false,
        success: function(data) {
            console.log(data);
            $('#tablebody').empty(); 
            data.books.forEach(function(book) {
                $('#tablebody').append(
                    '<tr>' +
                        '<td>' + book.book_id + '</td>' +
                        '<td>' + book.title + '</td>' +
                    '</tr>'
                );
            });
            openPopup();
           
            
        },
        error: function(error) {
            console.log(error);
        }
    });
});


        $(document).ready(function() {
            $('#searchButton').click(function() {
                var searchtitle = $('#searchtitle').val();
                var sort = $('#ascButton').hasClass('active') ? 'asc' : ($('#descButton').hasClass('active') ? 'desc' : '');
                var currentPage = new URLSearchParams(window.location.search).get('page') || 1;

                
                $.ajax({
                    url: '/get_books',
                    type: 'GET',
                    data: {
                        'searchtitle': searchtitle,
                        'sort': sort,
                        'page': currentPage,
                    
                    },
                    success: function(response) {
                        $('#tablebody').empty(); 
                        response.books.forEach(function(book) {
                            $('#tablebody').append(
                                '<tr>' +
                                    '<td>' + book.book_id + '</td>' +
                                    '<td>' + book.title + '</td>' +
                                '</tr>'
                            );
                        });
                        var pagination = response.pagination[0];
                        updatePagination(pagination);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });

            $('.pagination').on('click', 'a', function(event) {
                event.preventDefault();
                
                var page = $(this).attr('href').split('=')[1];
                var searchtitle = $('#searchtitle').val();
                var sort = $('#ascButton').hasClass('active') ? 'asc' : ($('#descButton').hasClass('active') ? 'desc' : '');
                
                $.ajax({
                    url: '/get_books',
                    type: 'GET',
                    data: {
                        'searchtitle': searchtitle,
                        'sort': sort,
                        'page': page
                    },
                    success: function(response) {
                        $('#tablebody').empty(); 
                        response.books.forEach(function(book) {
                            $('#tablebody').append(
                                '<tr>' +
                                    '<td>' + book.book_id + '</td>' +
                                    '<td>' + book.title + '</td>' +
                                '</tr>'
                            );
                        });
                        var pagination = response.pagination[0];
                        updatePagination(pagination);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });

            $('#button').click(function() {
                $('.popup').css('display', 'flex');
            });

            $('.close').click(function() {
                $('.popup').css('display', 'none');
            });

            $('.closed').click(function() {
                $('.popupopen').css('display', 'none');
            });

            $('.sortButton').click(function() {
    if ($(this).hasClass('active')) {
        $(this).removeClass('active');
    } else {
        $('.sortButton').removeClass('active');
        $(this).addClass('active');
    }
    $('#searchButton').click();
});
            function updatePagination(pagination) {
                $('.pagination').empty();
                if (pagination.hasPrevious) {
                    $('.pagination').append('<a href="?page=' + (pagination.page_number_int - 1) + '"><- previous  </a>');
                }
                $('.pagination').append('<span class="current">  Page ' + pagination.page_number_int + ' of   ' + pagination.total_pages + '</span>');
                for (var i = 1; i <= pagination.total_pages; i++) {
        if (i === pagination.page_number_int) {
            $('.pagination').append('<span class="present">' + i + '</span>');
        } else {
            $('.pagination').append('<a href="?page=' + i + '">' + i + '</a>');
        }
    }
                if (pagination.hasNext) {
                    $('.pagination').append('<a href="?page=' + (pagination.page_number_int + 1) + '">  next-></a>');
                }
               
            }
        });

       function openPopup() {
        document.querySelector(".popupopen").classList.add("active");   
}

        function reset() {
            const form = document.querySelector('form');
            form.reset();
        }
       

       
    </script>
</body>
</html>