<html>
<head>
{%load static%}
<link rel="stylesheet" href="{%static 'style.css'%}">
</head>

<body>

	<div class="container">
		<marquee><h1>ADD BOOK DETAILS</h1></marquee>
		<a href="#" class="button" id="button">ADD BOOK</a>	
	</div>
	<div class="popup">
		<div class="popup-content">
	
			
			<form action="{% url 'index' %}" method="POST">
			<img src={% static 'close.png'%} class="close">
			<img src={% static 'book.png' %}>
			{%csrf_token%}
			{{form}}
			
			<button type="submit" id="button1" class="button1" onClick="openPopup()">SUBMIT</button>
			
			</form>
				
			<div class="popupopen" id="popupopen">
				<img src={% static 'tick.jpg'%} class="tick">
				<button class="closed" onClick="reset(),refresh()">OK</button>
				<h2>Submitted</h2>
				<p>Book has been updated successfully...</p>
			</div>	
		</div>
	</div>

<div class="search-bar">
        <label>Search by Book Title:</label>
        <input type="text" id="searchtitle" name="searchtitle" placeholder="Enter book name..."/>
        <button type="submit" id="searchButton"">Search</button>
</div>

<table class="table">
        <thead>
            <tr>
                <th>Book ID</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.1 }}</td>
                    <td>{{ book.2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<div class="sort">
<form method="get">
<input type="hidden" name="page" value="{{ page }}" />
<button type="submit" name="sort" value="asc">A->Z</button>
<button type="submit" name="sort" value="desc">Z->A</button>
</form>

    {% if sort == 'asc' %}
        A->Z
    {% elif sort == 'desc' %}
        Z->A
    {% else %}

    {% endif %}

</div>

<div class="pagination">
    <span class="links">
        {% if books.has_previous %}
            <a href="?page={{ books.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page }} of {{ books.paginator.num_pages }}
        </span>

        {% if books.has_next %}
            <a href="?page={{ books.next_page_number }}">next</a>
        {% endif %}

        {% for i in books.paginator.page_range %}
            <a href="?page={{ i }}">{{ i }}</a>
        {% endfor %}
    </span>
</div>






<script>
document.getElementById("button").addEventListener("click",function(){
	document.querySelector(".popup").style.display="flex";	
})
document.querySelector(".close").addEventListener("click",function(){
	document.querySelector(".popup").style.display="none";
})
document.querySelector(".closed").addEventListener("click",function(){
	document.querySelector(".popupopen").style.display="none";
})
 
document.getElementById("button1").addEventListener("click", function(event){
event.preventDefault();
        const form = document.querySelector('form');
    const formData = new FormData(form);

    fetch(form.action, {
        method: form.method,
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        
        console.log(data); 
        openPopup(); 
		
    })
    .catch(error => {
        console.error('Error:', error);
    });
});
document.getElementById("searchButton").addEventListener("click", function () {
    const searchtitle = document.getElementById("searchtitle").value;

    window.location.href = `?searchtitle=${searchtitle}`;
});


function openPopup(){
   	
        document.querySelector(".popupopen").classList.add("active");   
   
}

function reset() {
    const form = document.querySelector('form');
    form.reset();
}

function refresh() {
            location.reload();
        }


</script>	

</body>
</html>