<html>
<head>
    
    <title>Book Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <marquee><h1>ADD BOOK DETAILS</h1></marquee>
        <a href="#" class="button" id="button">ADD BOOK</a>  
    </div>
    <div class="popup">
        <div class="popup-content">
            <form action="{% url 'add_books' %}" method="POST">
                <img src="{% static 'close.png' %}" class="close">
                <img src="{% static 'book.png' %}">
                {% csrf_token %}
                {{ form }}
                <button type="submit" id="button1" class="button1" onClick="openPopup()">SUBMIT</button>
            </form>
            <div class="popupopen" id="popupopen">
                <img src="{% static 'tick.jpg' %}" class="tick">
                <button class="closed" onClick="reset(); refresh()">OK</button>
                <h2>Submitted</h2>
                <p>Book has been updated successfully...</p>
            </div>  
        </div>
    </div>

    <div class="search-bar">
        <label for="searchtitle">Search by Book Title:</label>
        <input type="text" id="searchtitle" name="searchtitle" placeholder="Enter book name...">
        <button type="button" id="searchButton">Search</button>
    </div>
<div class="sort">
        <button type="button" id="ascButton" class="sortButton" value="asc">A->Z</button>
        <button type="button" id="descButton" class="sortButton" value="desc">Z->A</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Book ID</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody id="tablebody">
            {% for book in books %}
                <tr>
                    <td>{{ book.1 }}</td>
                    <td>{{ book.2}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<div class="pagination">
    <span class="links">
        {% if pagination.hasPrevious %}
            <a href="?page={{ pagination.page_number_int|add:-1 }}">previous</a>
        {% endif %}
        <span class="current">Page {{ pagination.page_number_int }} of {{ pagination.total_pages }}</span>
        {% if pagination.hasNext %}
            <a href="?page={{ pagination.page_number_int|add:1 }}">next</a>
        {% endif %}
	{% for i in pagination.page_range %}
            <a href="?page={{ i }}">{{ i }}</a>
        {% endfor %}
    </span>
</div>

    <script>

$('#button1').click(function(event) {
    event.preventDefault();
    var form = $('form')[0];
    var formData = new FormData(form);

    $.ajax({
        type: 'POST',
        url: form.action,
        data: formData,
        processData: false,
        contentType: false,
        success: function(data) {
            console.log(data);
            $('#tablebody').empty(); 
            data.books.forEach(function(book) {
                $('#tablebody').append(
                    '<tr>' +
                        '<td>' + book.book_id + '</td>' +
                        '<td>' + book.title + '</td>' +
                    '</tr>'
                );
            });
            openPopup();
        },
        error: function(error) {
            console.log(error);
        }
    });
});

        $(document).ready(function() {
            $('#searchButton').click(function() {
                var searchtitle = $('#searchtitle').val();
                var sort = $('#ascButton').hasClass('active') ? 'asc' : ($('#descButton').hasClass('active') ? 'desc' : '');
                var currentPage = new URLSearchParams(window.location.search).get('page') || 1;

                
                $.ajax({
                    url: '/get_books/',
                    type: 'GET',
                    data: {
                        'searchtitle': searchtitle,
                        'sort': sort,
                        'page': currentPage
                    },
                    success: function(response) {
                        $('#tablebody').empty(); 
                        response.books.forEach(function(book) {
                            $('#tablebody').append(
                                '<tr>' +
                                    '<td>' + book.book_id + '</td>' +
                                    '<td>' + book.title + '</td>' +
                                '</tr>'
                            );
                        });
                        var pagination = response.pagination[0];
                        updatePagination(pagination);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });

            $('.pagination').on('click', 'a', function(event) {
                event.preventDefault();
                var page = $(this).attr('href').split('=')[1];
                var searchtitle = $('#searchtitle').val();
                var sort = $('#ascButton').hasClass('active') ? 'asc' : ($('#descButton').hasClass('active') ? 'desc' : '');
                
                $.ajax({
                    url: '/get_books/',
                    type: 'GET',
                    data: {
                        'searchtitle': searchtitle,
                        'sort': sort,
                        'page': page
                    },
                    success: function(response) {
                        $('#tablebody').empty(); 
                        response.books.forEach(function(book) {
                            $('#tablebody').append(
                                '<tr>' +
                                    '<td>' + book.book_id + '</td>' +
                                    '<td>' + book.title + '</td>' +
                                '</tr>'
                            );
                        });
                        var pagination = response.pagination[0];
                        updatePagination(pagination);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });

            $('#button').click(function() {
                $('.popup').css('display', 'flex');
            });

            $('.close').click(function() {
                $('.popup').css('display', 'none');
            });

            $('.closed').click(function() {
                $('.popupopen').css('display', 'none');
            });

            $('.sortButton').click(function() {
                $('.sortButton').removeClass('active');
                $(this).addClass('active');
                $('#searchButton').click();
            });

            function updatePagination(pagination) {
                $('.pagination').empty();
                if (pagination.hasPrevious) {
                    $('.pagination').append('<a href="?page=' + (pagination.page_number_int - 1) + '">previous</a>');
                }
                $('.pagination').append('<span class="current">Page ' + pagination.page_number_int + ' of ' + pagination.total_pages + '</span>');
                if (pagination.hasNext) {
                    $('.pagination').append('<a href="?page=' + (pagination.page_number_int + 1) + '">next</a>');
                }
            }
        });

        function openPopup() {
            document.querySelector(".popupopen").classList.add("active");   
        }

        function reset() {
            const form = document.querySelector('form');
            form.reset();
        }

        function refresh() {
            location.reload();
        }
    </script>
</body>
</html>
